<div class="titlebarContainer">
  <div class="wrap">
    <div style="float:left;">
      <img src="assets/images.png" alt="" style="width:40px;height:40px; margin-left:150px;margin-bottom:3px;margin-top:5px;">
      <div style="margin-top:5px;float:right;">
        <label for="label-video" style="margin-left:10px;font-size:30px;height:20px;font-family:italic; color:#565555;">VideoPlayer</label>
      </div>
    </div>
    <input type="text" class="searchTerm" placeholder="Search">
    <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
  </div>
</div>