#appContainer {
     background-color: #ededed; 
}

#leftContainer {
    float: left;
    min-width: 60% !important;
    background-color:#ededed;
    margin-top: 30px;
}
#docContainer {
    float: left;
    min-width: 60% !important;
    min-height: 600px !important;
    background-color:#ededed;
    margin-top: 30px;
}
#rightContainer {
    float: right;
    min-width: 40% !important;
    background-color: #ededed;
    margin-top: 20px;
}
#objectContainer {
    margin-left: 20%;
    min-height: 600px !important;
    max-height: 800px !important;
    min-width: 80%;
    max-width: 100%;
}