<div id="descriptionContainer" class="w3-ul w3-card-4">
    <h3 id="title">Angular 4 Tutorial - Photo Gallery App</h3>
    <div class="w3-padding-5">
        <img src="../assets/steve.jpg" class="w3-left w3-circle w3-margin-right" id="img-des" >
        <div>
            <div id="view-like">
                <h4>10,027 Views</h4><br>
                <div style="margin-top:-10px">
                    <i class="glyphicon glyphicon-thumbs-up" style="font-size:24px; margin-right:10px;"></i>165
                    <i class="glyphicon glyphicon-thumbs-down" style="font-size:24px; margin-right:10px; margin-left:10px;"></i>2
                </div> 
            </div><br>
            <span class="w3-large" style="margin-top:50px;">Wes Doyle</span><br>
            <!-- <span style="margin-top:50px;">Web Designer</span>  -->
        </div>
    </div>
    
      <hr style="margin-top:35px;"/>  
    <h5 style="margin-left: 20px;">Published on 30 May 2017</h5>
    <p id="description">In this video, I build a simple image gallery application using Angular JS 4. We'll use the 
        Angular CLI to scaffold the project and then create custom Components, an image Service, and 
        a custom Pipe to build a filterable photo gallery. </p>

</div>