#descriptionContainer {
    margin-left: 20%;
    margin-top: 10px;
    max-width: 80%;
    width: 80%;
    min-height: 250px !important;
    background-color:white;
     position: relative;
}
#title{
    margin-left: 20px;
    padding-top: 15px;
}
#img-des{
    margin-left: 20px;
    width: 55px;
    height: 55px;
}
#name-des{
    margin-left: 20px;
    padding-bottom: 30px;
}
#description{    
    margin-left: 5%;
    margin-right: 5%;
    font-size: 12px;
    position: absolute;
    width: 90%;
    text-align: justify;
}
#view-like{
    float:right; 
    margin-top:-10px; 
    margin-right:20px;
}