#commentsContainer {
    margin-left: 20%;
    margin-top: 10px;
    max-width: 80%;
    background-color: white;
    width: 80%;
    min-height: 250px !important;
}
#header{
    padding-top: 20px;
    margin-left: 10px;
    font-weight: bold;
}
.comment_avatar{
    margin: 10px;
}
#commentInput{
   margin-right: 10px;
    height: 50px;
   width: 86%;
   float: right;
   overflow: scroll;
}
#icon-like-dis{
    font-size:15px;
    margin-right:0px; 
    vertical-align: left;
    cursor: pointer; 
    cursor: hand;
    margin-left: 5px; 
}
#commentUsername{
    color:#129CEF; 
    font-weight: bold;
    font-family:'Helvetica Neue Light';
}
#comment{
    margin-bottom: 5px;
    font-family:'Helvetica Neue Light';
}
#commentIcon{
    width:60px; 
    height:60px; 
    margin-left: 10px;
}
#replyIcon{
    width:50px; 
    height:50px;
}
#replyLikes{
    color:#129CEF;
}
#noOfReplies{
    margin-top: 40px;
}
#commentReplyTxt{
    color:grey;
    font-family:'Helvetica Neue Light';
}
#replyItem{
    margin-top:30px; 
    margin-left:70px;
}
#replyTxt{
    color:grey;
    font-family:'Helvetica Neue Light';
    margin-left: 50px;
}