<div id="commentsContainer" class="w3-ul w3-card-4">
  <h5 id="header">COMMENTS</h5>

  <!-- Avatar -->
  <div>
    <div class="comment_avatar"><img src="http://lorempixel.com/60/60/" alt="">
      <input type="text" id="commentInput" class="form-control" placeholder="Add a public comment..." [(ngModel)]="commentInput"
        (click)="enableSubmit()">
    </div>
    <div style="float:right; margin-right:25px;">
      <button class="btn btn-default">Cancel</button>
      <button id="submitComment" class="btn btn-primary" (click)="enableSubmit()">Comment</button>
    </div>
  </div>
  <div>
    <ul *ngFor="let comment of videoCommentObj " class="w3-padding-16">
      <img [src]=comment.icon class="w3-left w3-circle w3-border w3-margin-right" id="commentIcon">
      <li>
        <div id="commentUsername">{{comment.username}}</div>
        <div id="comment">{{comment.comment}}</div>
        <div class="w3-left" id="commentReplyTxt">Reply . <span id="replyLikes">{{comment.likes}}</span>
          <i class="glyphicon glyphicon-thumbs-up" id="icon-like-dis"></i>
          <i class="glyphicon glyphicon-thumbs-down" id="icon-like-dis"></i></div>
        <div >
          <div *ngIf="comment.noOfReplies>0" id="noOfReplies">
            <ul *ngFor="let reply of comment.replies" class="w3-ul">
              <div id="replyItem">
                <img [src]=reply.icon class="w3-left w3-circle w3-border w3-margin-right" id="replyIcon">
                <li>
                  <div id="commentUsername">{{reply.username}}</div>
                  <div id="comment">{{reply.comment}}</div>
                   <div class="w3-left" id="replyTxt">Reply . <span id="replyLikes">{{reply.likes}}</span>
                    <i class="glyphicon glyphicon-thumbs-up" id="icon-like-dis"></i>
                    <i class="glyphicon glyphicon-thumbs-down" id="icon-like-dis"></i></div>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <hr style="margin-top:50px;" />

</div>